<!DOCTYPE html>
<html>
  <head>
    <title>Music Nimbus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type= "text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe%>
      </script>
    <% end %>

    <script type="text/javascript">
      window.mobilephoto = "<%= image_url('splash-content-photo1.jpg') %>";
      window.createphoto = "<%= image_url('splash-content-photo2.jpg') %>";
      
    </script>

    <script 
      src='https://kit.fontawesome.com/a076d05399.js' 
      crossorigin='anonymous'>
    </script>

    <%= favicon_link_tag asset_path('sound_cloud_favicon.jpg')%>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
