<!DOCTYPE html>
<html>
  <head>
    <title>Music Nimbus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type= "text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe%>
      </script>
    <% end %>

  <script type="text/javascript">
  window.bobmarley = "<%= image_url('splash-body-content-bobmarley.jpeg') %>";
  window.fiftycent = "<%= image_url('splash-body-content-50cent.jpeg') %>";
  window.backstreetboys = "<%= image_url('splash-body-content-backstreetboys.jpeg') %>";
  window.blink = "<%= image_url('splash-body-content-blink182.jpeg') %>";
  window.brunomars = "<%= image_url('splash-body-content-brunomars.jpeg') %>";
  window.destinyschild = "<%= image_url('splash-body-content-destinyschild.jpeg') %>";
  window.elvis = "<%= image_url('splash-body-content-elvis.jpeg') %>";
  window.justinbieber = "<%= image_url('splash-body-content-justinbieber.jpeg') %>";
  window.kiss = "<%= image_url('splash-body-content-kiss.jpeg') %>";
  window.mariahcarey = "<%= image_url('splash-body-content-mariahcarey.jpeg') %>";
  window.thegame = "<%= image_url('splash-body-content-thegame.jpeg') %>";
  window.tupac = "<%= image_url('splash-body-content-tupac.png') %>";
  window.mobilephoto = "<%= image_url('splash-content-photo1.png') %>";
  window.createphoto = "<%= image_url('splash-content-photo2.png') %>";
</script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
